body {
    text-align: center;
}

table {
    min-width:400px;
    max-width:1024px;
}

table, tr, td, th {
    border: 1px solid black;
}

.showMe {
    display: inline;
}

.hideMe {
    display: none;
}
